#header {
  display: flex;
}

#sub-header {
  /* display: flex; */
  background-color: #fff;
  z-index: 100;
  border-bottom: 2px solid #eee;
}

#main {
  position: relative;
  top: 90px;
}

.utbx-fitted-max {
  max-height: 91vh;
  overflow-y: scroll;
  padding-top: 1px !important;
  /* above instead of 0px - needed for .card */
}

.utbx-sticky {
  position: sticky;
  z-index: 10;
}

.utbx-menu-bg-overide {
  background-color: #ffffff !important;
}

.utbx-scanned-doc {
  padding: 2em 2em;
  background-color: #ededed;
}

.utbx-center-icon-temp {
  padding-top: 0.65em;
}

.utbx-center-icon-temp a i.icon {
  color: #999999;
  padding-left: 0.2em;
}

.utbx-uppercase {
  text-transform: uppercase !important;
}

.utbx-mono {
  font-family: monospace !important;
  /* color: #616161 !important; */
}

.utbx-bg-green {
  background-color: rgb(229, 249, 231) !important;
}

.utbx-bg-yellow {
  background-color: rgb(255, 248, 219) !important;
  /* color: rgb(181, 129, 5) !important; */
  
}
